@import "./vendors/bootstrap.scss";

@import "./abstracts/mixins";
@import "./abstracts/variables";
@import "./abstracts/helpers";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/footer";
@import "./layout/sections";

@import "./sections/about";
@import "./sections/contact";
@import "./sections/hero";
@import "./sections/projects";

/* Create Overlay for Small Project */

.overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background: rgba(255, 255, 255, 0.85);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10.8px);
	-webkit-backdrop-filter: blur(10.8px);
	border: 1px solid rgba(255, 255, 255, 0.63);
	z-index: 9;
	transform: translateX(-120vw);
	transition: all 1s ease-in-out;
	overflow-x: scroll;
  }

.overlay-slide-right {
  transition: all 0.7s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.7s ease-in-out;
  transform: translateX(-120vw);
}

#mini-section-header {
	padding: 20px;
	margin: 0;
	position: sticky;
	top: 0;
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10.8px);
	-webkit-backdrop-filter: blur(10.8px);
	box-shadow: 0 4px 30px rgba( 0, 131, 176, 0.4);
	z-index: 8;
}

#mini-section-title {
	font-size: 40px;
	vertical-align: middle;
}

#back-btn {
	width: 130px;
	float: left;
	margin-top: 5px;
}

.mini-project {
	display: flex;
	width: 450px;
	margin: 30px;
	margin-bottom: 0;
}

.mini-project-text {
	text-align: center;
}

.mini-projects-container {
	position: static;
	display: flex;
	flex-flow: wrap;
	justify-content: space-evenly;
}

.mini-project-text-title{
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 4px;
}

.mini-project-image {
	margin-top: 15px;
	margin-bottom: 10px;
}

/* Media Queries */

@media screen and (max-width: 1040px) {
	#mini-section-header {
		padding: 10px;
	}
	#mini-section-title {
		font-size: 30px;
		margin-top: 15px;
		padding: 0;
	}

	#back-btn {
		padding: 5px 0px;
		font-size: 12px;
		width: 80px;
		margin: auto;
		float: none;
	}

	.mini-project-text-title{
		font-size: 25px;
		letter-spacing: 2px;
	}

	.mini-project {
		margin: 5px;
		width: 350px;
	}

	#mini-btn {
		font-size: 12px;
		padding: 5px;
		width: 30%;
	}

	#mini-source {
		font-size: 12px;
	}
}

@media screen and (max-width: 580px) {
	#mini-section-header {
		padding: 10px;
	}
	#mini-section-title {
		font-size: 15px;
		margin-top: 15px;
		padding: 0;
	}

	#back-btn {
		padding: 5px 0px;
		font-size: 12px;
		width: 80px;
		margin: auto;
		float: none;
	}
	.mini-project {
		margin-top: 20px;
	}

	.mini-project-text-title{
		font-size: 20px;
	}

	.mini-project {
		width: 300px;
	}
}